# Bundler
/.bundle/
/vendor/bundle/
Gemfile.lock

# librarian-puppet
/.librarian/
/.tmp/
/vendor/puppet/
/modules/
Puppetfile.lock

# Fixture modules loaded by librarian-puppet
/spec/fixtures/modules/
!/spec/fixtures/modules/tensor

# Puppet
/pkg/
